*.suo
*.lock
*.ide
*.pdb
*.ide-shm
*.ide-wal
*.cache
*\bin\*
*\obj\*
*.csproj.FileListAbsolute.txt
*.csproj.CopyComplete
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/DependencyInjection_Sample.exe
Extensions_Sample/Extensions_Sample/bin/Debug/Extensions_Sample.exe
DependencyInjection_Sample/DependencyInjection_Sample/bin/Debug/DependencyInjection_Sample.exe
Extensions_Sample/Extensions_Sample/obj/Debug/Extensions_Sample.exe
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DependencyInjection_Sample/DependencyInjection_Sample/bin/Debug/DependencyInjection_Sample.exe.config
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Extensions_Sample/Extensions_Sample/bin/Debug/Extensions_Sample.exe.config
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/bin/Debug/EnumsAndCustomAttributes_Sample.exe
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/bin/Debug/EnumsAndCustomAttributes_Sample.exe.config
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/EnumsAndCustomAttributes_Sample.csproj.FileListAbsolute.txt
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/EnumsAndCustomAttributes_Sample.exe
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FileSynchronization_Sample/FileSynchronization_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FileSynchronization_Sample/FileSynchronization_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FileSynchronization_Sample/FileSynchronization_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Encryption_Sample/Encryption_Sample/bin/Debug/Encryption_Sample.exe
Encryption_Sample/Encryption_Sample/bin/Debug/Encryption_Sample.exe.config
Encryption_Sample/Encryption_Sample/bin/Debug/Newtonsoft.Json.dll
Encryption_Sample/Encryption_Sample/bin/Debug/Struct.Core.Extensions.dll
Encryption_Sample/Encryption_Sample/obj/Debug/Encryption_Sample.exe
Encryption_Sample/Encryption_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Encryption_Sample/Encryption_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Encryption_Sample/Encryption_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Threading_Sample/Threading_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Threading_Sample/Threading_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Threading_Sample/Threading_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Threading_Sample/Threading_Sample/obj/Debug/Threading_Sample.exe
Threading_Sample/Threading_Sample/bin/Debug/Threading_Sample.exe.config
Threading_Sample/Threading_Sample/bin/Debug/Threading_Sample.exe
