*.suo
*.lock
*.ide
*.pdb
*.ide-shm
*.ide-wal
*.cache
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/DependencyInjection_Sample.exe
Extensions_Sample/Extensions_Sample/bin/Debug/Extensions_Sample.exe
DependencyInjection_Sample/DependencyInjection_Sample/bin/Debug/DependencyInjection_Sample.exe
Extensions_Sample/Extensions_Sample/obj/Debug/Extensions_Sample.exe
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DependencyInjection_Sample/DependencyInjection_Sample/bin/Debug/DependencyInjection_Sample.exe.config
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/DependencyInjection_Sample.csproj.FileListAbsolute.txt
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DependencyInjection_Sample/DependencyInjection_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Extensions_Sample/Extensions_Sample/bin/Debug/Extensions_Sample.exe.config
Extensions_Sample/Extensions_Sample/obj/Debug/Extensions_Sample.csproj.FileListAbsolute.txt
Extensions_Sample/Extensions_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/bin/Debug/EnumsAndCustomAttributes_Sample.exe
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/bin/Debug/EnumsAndCustomAttributes_Sample.exe.config
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/EnumsAndCustomAttributes_Sample.csproj.FileListAbsolute.txt
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/EnumsAndCustomAttributes_Sample.exe
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EnumsAndCustomAttributes_Sample/EnumsAndCustomAttributes_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GenericT_Sample/GenericT_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
